
.header-container {
    display: flex;
    background-color: rgb(0, 0, 0);
    height: 50px;
    color: white;
    align-items: center;
    justify-content: space-between;

    .heading {
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
        a{
            text-decoration: none;
        }
        h2{
            height: 100%;
            text-align: center;
            margin: auto 10px;
            line-height: 50px;
            text-decoration: none;
            color: white;
        }
    }
    .sign-in {
        color: white;
        height: 100%;
        line-height: 50px;
        ul {
            display: flex;
            list-style-type: none;

            li {
                padding-left: 10px;
                padding-right: 10px; 
            }
        }

        a {
            text-decoration: none;
            color: white;
        }

    }
}