@import url('https://fonts.googleapis.com/css?family=Istok+Web&display=swap');

* {
  margin: 0;
  padding: 0;
}
html, body, #root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Istok Web', sans-serif;
}


#root
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-flow: column;
  height: 100%;
}
